/* defaults */

$base-font-family-SourceSans:'Source Sans Pro',
sans-serif;
$base-font-weight-medium: 200;
$nav-menu-back : #c0392b;
$nav-menu-fore: #fff;
$float-margin-top: 16px;
$magic-number: 13rem;
$magic-number-small: 1.3rem;
$min-padding: 1;

$full-percent: 100%;