/*=================================================================
  404 / 500 page
==================================================================*/
.page-404 {
	height: 100vh;
	h1 {
		font-size:$magic-number * 20px;
		@include mobile {
			font-size: 100px;
		}
	}
}